.container{
    width:250px;
    margin:0px;
    padding: 0px;
    border:2px;


}
.white{
    background-color:pink;
    width: 30px;
    height: 20px;
    display: inline-block;
  margin: 0px;
    padding: 0px;
}
.black{
    background-color: black;
    margin:0px;
    width: 30px;
    border:2px;
    height: 20px;
    display: inline-block;
    padding: 0px;;

}